@{
    Layout = "_C286";
}

<div class="row">
    <div class="col-sm me-2 mb-2">
        <div class="row g-0 mb-2">
            <div class="card">
                <div class="card-header">
                    <h4>LINQ Demonstration</h4>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="~/Pokemon/AllRecordsProperties">All Records with All Properties</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Pokemon/SortingLevels">Sorting: Type1, Type2, Name(desc)</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Pokemon/Projection">Projection: Name, Attack, Defence, Stamina</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Pokemon/ProjectionSorting">Projection with Sorting by Name</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Pokemon/Filter1">Filter and Sort Descending</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Pokemon/Filter2">Filter and Sort Ascending</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Pokemon/FilterProjectionSort">Filter, Projection and Sort</a>
                    </li>

                    <li class="list-group-item">
                        <a href="~/Pokemon/Grouping">Grouping, Projection, Aggregates and Sort</a>
                    </li>

                    <li class="list-group-item">
                        <a href="~/Pokemon/GroupingFilter">Multi-columns Grouping, Projection, Aggregates, Filter and Sort</a>
                    </li>

                    <li class="list-group-item">
                        <a href="~/Pokemon/Union">Union</a>
                    </li>

                    <li class="list-group-item">
                        <a href="~/Pokemon/Join">Join</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row g-0 mb-2">
            <div class="card">
                <div class="card-header">
                    <h4>LINQ Exercises</h4>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Ex01 <a href="~/Pokemon/Ex01">For only Pokemon with BOTH Type1 and Type2, sorted Type1, Type2, Name(Desc)</a>
                    </li>
                    <li class="list-group-item">
                        Ex02 <a href="~/Pokemon/Ex02">Pokemon with Stamina in between Attack and Defence OR in between Defence and Attack, sorted by Id</a>
                    </li>
                    <li class="list-group-item">
                        Ex03 <a href="~/Pokemon/Ex03">List of Electric Pokemon with Name, 'Electric', TotalStat sorted by TotalStat (desc)</a>
                    </li>
                    <li class="list-group-item">
                        Ex04 <a href="~/Pokemon/Ex04">For only Pokemon with Type2, group by Type2, display Type2, Count and Average Stamina</a>
                    </li>
                    <li class="list-group-item">
                        Ex05 <a href="~/Pokemon/Ex05">Display strong pokes followed by weak pokes</a>
                    </li>
                    <li class="list-group-item">
                        Ex06 <a href="~/Pokemon/Ex06">Display number of strong pokedex grouped and ordered by Type1 and Position</a>
                    </li>
                    <li class="list-group-item">
                        Ex07 <a href="~/Pokemon/Ex07">Display Type2 above average defense pokemons with corresponding actions (above average: Go Fight! else Stay Back)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>