@{
    Layout = "_C286";
}

<div class="row">
    <div class="col-sm me-2 mb-2">
        <div class="row g-0 mb-2">
            <div class="card">
                <div class="card-header">
                    <h4>Razor Demonstrations</h4>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="~/Razor/IfElseOddOrEven?num=5">IfElseOddOrEven?num=5</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Razor/IfElseCheckPrice?price=120">IfElseCheckPrice?price=120</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Razor/LoopForSnackStock">LoopForSnackStock</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Razor/LoopWhileSnackStock">LoopWhileSnackStock</a>
                    </li>
                    <li class="list-group-item">
                        <a href="~/Razor/LoopIfOddNumbersUnder?upperLimit=30">LoopIfOddNumbersUnder?upperLimit=30</a>
                    </li>
            </div>
        </div>
        <div class="row g-0 mb-2">
            <div class="card">
                <div class="card-header">
                    <h4>Razor Exercises</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Ex01 <a href="~/Razor/ExCanYouDrive?age=15">ExCanYouDrive?age=15</a>
                    </li>
                    <li class="list-group-item">
                        Ex02 <a href="~/Razor/ExHouses?numHouses=1120">ExHouses?numHouses=1120</a>
                    </li>
                    <li class="list-group-item">
                        Ex03 <a href="~/Razor/ExForEachSnackStock">ExForEachSnackStock</a>
                    </li>
                    <li class="list-group-item">
                        Ex04 <a href="~/Razor/ExShowLines?lastLine=5">ExShowLines?lastLine=5</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>